/*Fonts*/
* {
	font-family: 'Josefin Slab', serif ;
	letter-spacing: .07rem;
}

.jose-reg {
	font-family: 'Josefin Slab', serif;
}

.jose-thin {
	font-family: 'Josefin Slab', serif;
	font-weight: 100;
}

.jose-italic {
	font-family: 'Josefin Slab', serif;
	font-style: italic;
}

.jose-bold {
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}
/*------------------------------------------------------------------------------
==============================All Sections===========================================
-------------------------------------------------------------------------------*/
html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

main {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 136px;
	width: 100%;
	padding-bottom: 20px;
}

footer {
	color: #000;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	position: absolute;
	display: inline-block;
	bottom: 0;
	border-top: 2px solid #000;
}

h1 {
	margin-top: 15px;
	padding: 10px;
	font-size: 2.81rem; 
	text-align: center;
}

h2 {
	margin-top: 15px; 
	text-align: center;
}

h5 {
	padding: 10px 0 0 0;
	font-size: 1.4rem; 
	font-weight: bold; 
	text-align: center;
}

h6 {
	padding: 8px 0;
	font-size: 1.25rem; 
	text-align: center;
}

img {
	box-shadow: -10px 10px 10px #999;
	padding: 0 !important;
}

p {
	font-size: 1.25rem;
}

ul.footer {
	text-align: center;
}

.cb-slideshow li {
	width: 100%;
	height: 100%;
}

/*.navbar-toggler {
	background-color: rgba(21, 59, 38, .8) !important;
	display: inline-block;
	padding: 10px;
	border-radius: 7px;
	font-size: 1.125rem;
	margin-top: 195px;
	color: #fff !important;
	text-shadow: 2px 2px 2px #000;
}*/

.font-white {
	color: #fff !important;
}

.active {
	color: #b3b3b3 !important;
}

.text-shadow-blk {
	text-shadow: 2px 2px 2px #000;
}

.ltr-spc-wider {
	letter-spacing: 3px;
}

.cb-slideshow h1 {
	background-color: rgba(21, 59, 38, .6);
	border-radius: 10px;
	margin: 0 10px;
	text-shadow: 2px 2px 2px #000;
}

.hide {
	display: none;
}

#heading {
	width: 100%;
	background-color: #bfbfbf;
	padding: 7px;
	border-radius: 7px;
	text-shadow: 2px 2px 2px #000;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	box-shadow: -10px 10px 10px #e6e6e6;
}

img.border-1 {
	padding: 5px !important;
	border: 1px solid #000;
}
/*------------------------------------------------------------------------------
==============================Top Logo===========================================
-------------------------------------------------------------------------------*/
.top-logo-wrap {
	background-color: #fff;
	position: relative;
	width: 100%;
	padding-top: 28px;
	border-bottom: 2px solid #000;
	z-index: 9999;
}
#topLogo {
	box-shadow: none;
}
/*------------------------------------------------------------------------------
==============================Nav For SMALL Devices=============================
-------------------------------------------------------------------------------*/
#navSmall {
	width: 100%;
	display: none;
	z-index: 9999;
}

#smallNavDrop {
	z-index: 9999;
	width: 100%;
	margin: 0 auto;
	background-color: #153b26;
}

.btn-group {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 180px;
}

.dropdown-item {
	text-align: center;
}

.dropdown-menu {
	border-radius: 10px;
}

div.dropdown-menu-right {
	margin-right: 23%;
}

.dropdown-menu {
	background-color: rgba(21, 59, 38, 1);
}

.dropdown-item:hover {
	cursor: pointer;
}

/*------------------------------------------------------------------------------
==============================Nav For LARGE Devices=============================
-------------------------------------------------------------------------------*/
.nav-link {
	font-size: 1.125rem;
	
}

.nav-link:hover {
	cursor: pointer;
}

.navbar {
	z-index: 9999;
	padding: 0;
	background-color: rgba(21, 59, 38, .6);
	border-radius: 7px;
	position: absolute;
	top: 176px;
	width: 100%;
}

.sticky {
	text-align: center;
  	position: fixed;
  	top: 0;
  	z-index: 9999;
	padding: 0;
	background-color: rgb(21, 59, 38);
	border-radius: 7px;
	width: 100%;
}
.stickySmall {
	z-index: 9999;
	top: 0;
	position: fixed;
	display: block;
	width: 100%;
}

nav a:hover,
nav router-link:hover {
	font-size: 1.25rem;
	text-shadow: 2px 2px 2px #fff;
}

.navbar-toggler:hover,
#menuLink:hover,
.menu:hover {
	cursor: pointer;
	text-shadow: 2px 2px 2px #fff;
}

.nav {
	margin: 0 auto;
}

/*------------------------------------------------------------------------------
==============================Menu Section====================================
-------------------------------------------------------------------------------*/
#menuImage {
	width: 80%;
	position: flex;
	margin-right: 10%;
	margin-left: 10%;
	max-width: 1000px;
	box-shadow: none;
}

#menuLink {
	text-align: center;
	display: inline-block;
	margin: 0 7px 0 7px;
	padding: 5px;
}

.menu-nav {
	margin: 0 auto;
	display: inline-block;
	font-size: 1.125rem;
	text-align: center;
	background-color: rgba(21, 59, 38, .8);
	border-radius: 7px;
	z-index: 9999;
}


/*------------------------------------------------------------------------------
==============================About Section====================================
-------------------------------------------------------------------------------*/

 .border-top-1 {
 	border-top: 1px solid #000;
 }

#links {
	margin: 20px auto;
	max-width: 1100px;
}

.logo-img {
	object-fit: cover;
	width: 75%;
	padding: 0 5px;
}

.logo-div {
	height: 183.75px;
	line-height: 183.75px;
	max-width: 290px;
	margin: 15px auto 0 auto;
	vertical-align: middle;
	margin-bottom: 15px;
}

.logo-div-height {
	height: 290px;
	line-height: 209px;
}

.p-tag-about {
	font-size: 1.8rem;
	margin: 7px 10%;
	width: 80%;
}

.cover-img {
	width: 100%;
	padding: 0 5px;
	vertical-align: middle;
	object-fit: contain;
}

/*------------------------------------------------------------------------------
==============================Reservation Section====================================
-------------------------------------------------------------------------------*/

.p-tag-reservations {
	font-size: 1.8rem;
	margin: 7px 15%;
	width: 70%;
	text-align: center;
}

.happy-hour-discription {
	margin: 15px 0;
}

.chow-logo {
	background: #000;
	padding: 20px 40px;
	border-radius: 7px;
	margin-bottom: 20px;
}

#lrgParties {
	margin: 10px 0;
	width: 50%;
}

/*------------------------------------------------------------------------------
==============================Delivery Section====================================
-------------------------------------------------------------------------------*/

.carousel-caption {
	text-shadow: 1px 2px 2px #000;

}

#carouselExampleIndicators {
	margin-top: 12px;
	box-shadow: -10px 10px 10px #e6e6e6;
}

/*------------------------------------------------------------------------------
==============================Contact Section====================================
-------------------------------------------------------------------------------*/

iframe {
	width: 100%;
	border-radius: 7px;
	box-shadow: -10px 10px 10px #e6e6e6;
}

#contactInfo {
	min-width: 370px;
}

.p-tag-contact {
	font-size: 1.5rem;
	margin: 7px 0;
	width: 100%;
	background: rgba(21, 59, 38, .3);
	border: 3px dashed #000;
	border-radius: 10px;
	box-shadow: -10px 10px 10px #e6e6e6;
}

/*------------------------------------------------------------------------------
==============================Animation===========================================
-------------------------------------------------------------------------------*/
.slide-fade-enter, 
.slide-fade-leave {
	transform: translateX(50px);
	opacity: 0;
}

.slide-fade-enter-active {
transition: 0.75s ease;
} 

.slide-fade-leave-active {
	transition: 0.3s ease;
}
/*------------------------------------------------------------------------------
==============================Media Queries=====================================
-------------------------------------------------------------------------------*/

@media (max-width: 1042px) {
	.cb-slideshow li span {
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #153b26;
	}
	.village {
		display: block;
	}
	main {
		margin-bottom: 184px;
	}
	.cb-slideshow li div {
		bottom: 20%;
	}
	
}

@media (max-width: 991px) {
	.logo-div {
		height: 106.88px;
		line-height: 106.88px;
	}
	.logo-div-height {
		height: 209.98px;
		line-height: 150px;
	}
	.logo-div h5 {
		font-size: 1rem;
	}
	.navbar-nav {
		display: inline-block;
		padding: 10px;
		background-color: rgba(21, 59, 38, 1);
		border-radius: 5px;
		margin-top: 250px;
		margin-left: 10%;
	}
	#lrgParties {
		width: 80%;
	}
	.p-tag-reservations,
	.p-tag-about {
		margin: 0 auto;
		width: 90%;
	}
	p {
		margin: 0 auto;
		width: 90%;
	}
	.logo-img {
		max-width: 150px;
	} 
	
}
@media (min-width: 804px) {
	footer {
		position: absolute;
		bottom: 0;
	}

}
/*For Ipad*/
@media (max-width: 775px) {
	h1 {
		font-size: 2.5rem;
	}

	#navLrg {
		display: none;
	}
	#navSmall {
		display: inline-block;
	}
	main {
	margin-top: 25px;
	}
	#menuImage {
		margin: 0;
		width: 100%;
		position: relative;
		padding-bottom: 0;
	}
	
	.menu-nav {
		display: block;
	}
	.p-tag-about,
	.p-tag-reservations {
		font-size: 1.5rem;
		width: 90%;
		margin: 0 5%;
	}
	.logo-div {
		height: 206.75px;
		line-height: 206.75px;
	}
	.logo-div-height {
		height: 209.98px;
		line-height: 168px;
	}
	.logo-div h5 {
		font-size: 1.25rem;
	}
	nav a:hover {
		color: #000 !important;
	}
	.border-top-1 {
		border: none;
	}
}
/*For Phones*/
@media (max-width: 525px) {
	h1,
	h2 {
		font-size: 1.88rem;
	}
	h4,
	h5
	 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	.p-tag-reservations,
	.p-tag-about {
		font-size: 1.25rem;
		margin: 7px 0;
		width: 100%;
	}
	.p-tag-contact {
		font-size: 1.25rem;
	}
	p {
		margin: 7px 0;
		width: 100%;
	}
	#menuLink {
		font-size: 1.25rem;
		display: block;
	}
	#lrgParties {
		width: 100%;
	}
	.col-4 {
		padding: 0;
	}
	.logo-img {
		width: 70%;
		padding-top: 10px;
	}
	.logo-div {
		height: 70%;
		line-height: 100px;
	}
	.chow-logo {
		width: 80%;
	}
	
}

@media (max-width: 414px) {
	h1,
	h2 {
		font-size: 1.56rem;
	}
}