/*Fonts*/
* {
	font-family: 'Josefin Slab', serif ;
	letter-spacing: .07rem;
}

.jose-reg {
	font-family: 'Josefin Slab', serif;
}

.jose-thin {
	font-family: 'Josefin Slab', serif;
	font-weight: 100;
}

.jose-italic {
	font-family: 'Josefin Slab', serif;
	font-style: italic;
}

.jose-bold {
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}
/*------------------------------------------------------------------------------
==============================All Sections======================================
-------------------------------------------------------------------------------*/
html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

main {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 136px;
	width: 100%;
	padding-bottom: 20px;
}

footer {
	color: #000;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	display: block;
	bottom: 0;
	border-top: 2px solid #000;
}

h1 {
	margin-top: 15px;
	padding: 10px;
	font-size: 2.81rem;
	text-align: center;
}

h2 {
	margin-top: 15px;
	text-align: center;
}

h5 {
	padding: 10px 0 0 0;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}

h6 {
	padding: 8px 0;
	font-size: .9rem;
	text-align: center;
}

img {
	-webkit-box-shadow: -10px 10px 10px #999;
	        box-shadow: -10px 10px 10px #999;
	padding: 0 !important;
}

p {
	font-size: 1.25rem;
}

ul.footer {
	text-align: center;
}

.cb-slideshow li span {
	width: 100%;
	height: 70%;
	margin: 174px 0;
	-webkit-box-shadow: -40px 0 40px rgb(21, 59, 38), 40px 0 40px rgb(21, 59, 38), 0 40px 40px rgb(21, 59, 38);
	        box-shadow: -40px 0 40px rgb(21, 59, 38), 40px 0 40px rgb(21, 59, 38), 0 40px 40px rgb(21, 59, 38);
}

.cb-slideshow li {
	background-color: rgb(21, 59, 38);
}

#slideshow {
	margin: 0 auto;
}

.font-white {
	color: #fff !important;
}

.active {
	color: #b3b3b3 !important;
}

.text-shadow-blk {
	text-shadow: 2px 2px 2px #000;
}

.ltr-spc-wider {
	letter-spacing: 3px;
}

.cb-slideshow h1 {
	background-color: rgba(21, 59, 38, .6);
	border-radius: 10px;
	margin: 0 10px;
	text-shadow: 2px 2px 2px #000;
}

.hide {
	display: none;
}

#heading {
	width: 100%;
	background-color: #bfbfbf;
	padding: 7px;
	border-radius: 7px;
	text-shadow: 2px 2px 2px #000;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-shadow: -10px 10px 10px #e6e6e6;
	        box-shadow: -10px 10px 10px #e6e6e6;
}

img.border-1 {
	padding: 5px !important;
	border: 1px solid #000;
}

.no-scroll {
	overflow: hidden;
}

.button-wrap {
	border: none;
	background-color: transparent;
}

/*------------------------------------------------------------------------------
==============================Top Logo==========================================
-------------------------------------------------------------------------------*/
.top-logo-wrap {
	background-color: #fff;
	position: relative;
	width: 100%;
	padding-top: 28px;
	border-bottom: 2px solid #000;
	z-index: 999;
}

.smTopLogo {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	height: 55px;
}

#topLogo {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
/*------------------------------------------------------------------------------
==============================Nav For SMALL Devices=============================
-------------------------------------------------------------------------------*/

#navSmall {
	width: 100%;
	display: none;
	z-index: 9999;
	height: 50px;
}

#smallNavDrop {
	z-index: 9999;
	width: 100%;
	margin: 0 auto;
	background-color: #153b26;
}
#dropMenu {
	z-index: 9999;
}

.btn-group {
	width: 100%;
	margin: 0 auto;
	position: absolute;
}

.dropdown-item {
	text-align: center;
}

.dropdown-menu {
	border-radius: 10px;
}

/*div.dropdown-menu-right {
	margin-right: 23%;
}*/

.dropdown-menu {
	background-color: rgba(21, 59, 38, 1);
}

.dropdown-item:hover {
	cursor: pointer;
}

.dropdown-toggle::after {
	display: none;
}

/*====================================*/
/* Dynamic Hamburger Icon */
/*=====================================*/

#nav-icon1 {
  width: 3rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  /*margin: 0 auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: inline-block;
  position: absolute;
  height: .25rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  right: 10;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*------------------------------------------------------------------------------
==============================Nav For LARGE Devices=============================
-------------------------------------------------------------------------------*/
.nav-link {
	font-size: 1.125rem;

}

.nav-link:hover {
	cursor: pointer;
}

.navbar {
	z-index: 9999;
	padding: 0;
	background-color: rgba(21, 59, 38, .6);
	border-radius: 7px;
	position: absolute;
	top: 176px;
	width: 100%;
}

.sticky {
	text-align: center;
  	position: fixed;
  	top: 0;
  	z-index: 9999;
	padding: 0;
	background-color: rgb(21, 59, 38);
	border-radius: 7px;
	width: 100%;
}
.stickySmall {
	z-index: 9999;
	top: 0;
	position: fixed;
	display: block;
	width: 100%;
}

a:hover,
nav router-link:hover {
	text-shadow: 2px 2px 2px #fff;
	text-decoration: none;
}

.navbar-toggler:hover,
.menu:hover,
.menu-zoom:hover {
	cursor: pointer;
	text-shadow: 2px 2px 2px #fff;
}

.nav {
	margin: 0 auto;
}

/*------------------------------------------------------------------------------
==============================COVID-19 Section==================================
-------------------------------------------------------------------------------*/
#covid19:before {
	content: ' ';
	display: block;
	position: absolute;
	opacity: .15; 			/*.15*/
	object-fit: cover;
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	height: 95%;
	z-index: -1;
	top: 0;
	bottom: 106;
	margin-top: 43px;
	background-image: url(..//img/crogansFrontCovid.jpg); /*guinness_happy.png*/
	/*crogansFrontCovid*/
}z-index: -1;
}
#covid19Text:before {
	position: relative;
	color: #000 !important;
	z-index: 9999;
}

/*------------------------------------------------------------------------------
==============================Menu Section======================================
-------------------------------------------------------------------------------*/
#menuImage {
	width: 80%;
	position: flex;
	margin-right: 10%;
	margin-left: 10%;
	max-width: 1000px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.menu-nav {
	margin: 0 auto;
	display: block;
	font-size: 1.125rem;
	text-align: center;
	background-color: rgba(21, 59, 38, .8);
	border-radius: 7px;
	z-index: 8999;
}

#foodMenu li {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0 7px 0 7px;
	padding: 5px;
}

#foodMenuZoom li {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0 7px 0 7px;
	padding: 5px;
}

#foodMenuZoom {
	width: 70%;
}

.sticky-food-nav {
	text-align: center;
  	position: fixed;
  	top: 43px;
  	left: 0;
  	width: 100%;
  	z-index: 8999;
	padding: 0;
	background-color: rgb(21, 59, 38, .85);
	border-radius: 7px;
}

.menu-header {
	border-bottom: 2px solid #009900;
}

.header-letter-spacing {
	letter-spacing: .75rem !important;
}

/*------------------------------------------------------------------------------
==============================About Section====================================
-------------------------------------------------------------------------------*/

 .border-top-1 {
 	border-top: 1px solid #000;
 }

#links {
	margin: 20px auto;
	max-width: 1100px;
}

.logo-img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 75%;
	padding: 0 5px;
}

.logo-div {
	height: 183.75px;
	line-height: 183.75px;
	max-width: 290px;
	margin: 15px auto 0 auto;
	vertical-align: middle;
	margin-bottom: 15px;
}

.logo-div-height {
	height: 290px;
	line-height: 209px;
}

.p-tag-about {
	font-size: 1.8rem;
	margin: 7px 10%;
	width: 80%;
}

.cover-img {
	width: 100%;
	padding: 0 5px;
	vertical-align: middle;
	-o-object-fit: contain;
	   object-fit: contain;
}

/*------------------------------------------------------------------------------
==============================Reservation Section====================================
-------------------------------------------------------------------------------*/

.p-tag-reservations {
	font-size: 1.8rem;
	margin: 7px 15%;
	width: 70%;
	text-align: center;
}

.happy-hour-discription {
	margin: 15px 0;
}

.chow-logo {
	background: #000;
	padding: 20px 40px;
	border-radius: 7px;
	margin-bottom: 20px;
}

#lrgParties {
	margin: 10px 0;
	width: 50%;
}

#chowReservation {
	height: 400px;
}

/*------------------------------------------------------------------------------
==============================Delivery Section====================================
-------------------------------------------------------------------------------*/

.carousel-caption {
	text-shadow: 1px 2px 2px #000;

}

#carouselExampleIndicators {
	margin-top: 12px;
	-webkit-box-shadow: -10px 10px 10px #e6e6e6;
	        box-shadow: -10px 10px 10px #e6e6e6;
}

/*------------------------------------------------------------------------------
==============================Contact Section====================================
-------------------------------------------------------------------------------*/

iframe {
	width: 100%;
	border-radius: 7px;
	-webkit-box-shadow: -10px 10px 10px #e6e6e6;
	        box-shadow: -10px 10px 10px #e6e6e6;
}

#contactInfo {
	min-width: 370px;
}

.p-tag-contact {
	font-size: 1.5rem;
	margin: 7px 0;
	width: 100%;
	background: rgba(21, 59, 38, .3);
	border: 3px dashed #000;
	border-radius: 10px;
	-webkit-box-shadow: -10px 10px 10px #e6e6e6;
	        box-shadow: -10px 10px 10px #e6e6e6;
}

/*------------------------------------------------------------------------------
==============================Animation===========================================
-------------------------------------------------------------------------------*/
.slide-fade-enter,
.slide-fade-leave {
	-webkit-transform: translateX(50px);
	    -ms-transform: translateX(50px);
	        transform: translateX(50px);
	opacity: 0;
}

.slide-fade-enter-active {
-webkit-transition: 0.75s ease;
-o-transition: 0.75s ease;
transition: 0.75s ease;
}

.slide-fade-leave-active {
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
/*------------------------------------------------------------------------------
==============================Media Queries=====================================
-------------------------------------------------------------------------------*/

@media (min-width: 1200px) {
	.cb-slideshow li span {
	width: 90%;
	height: 80%;
	margin: 109px 5% 0 5%;

	}
	.navbar {
		width: 80%;
		margin-left: 10% !important;
		margin-right: 10% !important;
	}
	.cb-slideshow h1 {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	}
}

@media (min-width: 1600px) {
	.cb-slideshow li span {
	width: 80%;
	height: 80%;
	margin: 109px 10% 0 10%;
	}
}

@media (max-width: 1042px) {
	.cb-slideshow li span {
		margin: 109px 0 10% 0;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #153b26;
	}
	.village {
		display: block;
	}
	main {
		margin-bottom: 184px;
	}
	.cb-slideshow h1 {
	margin-bottom: 40px;
	}

}

@media (max-width: 991px) {
	.logo-div {
		height: 106.88px;
		line-height: 106.88px;
	}
	.logo-div-height {
		height: 209.98px;
		line-height: 150px;
	}
	.logo-div h5 {
		font-size: 1rem;
	}
	.navbar-nav {
		display: inline-block;
		padding: 10px;
		background-color: rgba(21, 59, 38, 1);
		border-radius: 5px;
		margin-top: 250px;
		margin-left: 10%;
	}
	#lrgParties {
		width: 80%;
	}
	.p-tag-reservations,
	.p-tag-about {
		margin: 0 auto;
		width: 90%;
	}
	p {
		margin: 0 auto;
		width: 90%;
	}
	.logo-img {
		max-width: 150px;
	}

}
/*@media (min-width: 804px) {
	footer {
		position: absolute;
		bottom: 0;
	}

}*/
/*For Ipad*/
@media (max-width: 1024px) {

	h1 {
		font-size: 2.5rem;
	}

	#navLrg,
	#topHeader {
		display: none;
	}
	#navSmall {
		display: block;
	}
	main {
	margin-top: 70px;
	}
	#menuImage {
		margin: 0;
		width: 100%;
		position: relative;
		padding-bottom: 0;
	}

	.menu-nav {
		display: block;
		margin-top: 20px;
	}
	.p-tag-about,
	.p-tag-reservations {
		font-size: 1.5rem;
		width: 90%;
		margin: 0 5%;
	}
	.logo-div {
		height: 206.75px;
		line-height: 206.75px;
	}
	.logo-div-height {
		height: 209.98px;
		line-height: 168px;
	}
	.logo-div h5 {
		font-size: 1.25rem;
	}
	nav a:hover {
		color: #000 !important;
	}
	.border-top-1 {
		border: none;
	}
	/*div.dropdown-menu-right {
	margin-right: 38%;
	}*/
	#foodMenu li {
	/*display: block;*/
	}

	#foodMenuZoom li {
		display: block;
	}

	#foodMenuZoom {
		width: 100%;
	}
	#chowReservation {
		display: none;
	}
}
/*For Phones*/
@media (max-width: 525px) {
	h1,
	h2 {
		font-size: 1.88rem;
	}
	h4,
	h5
	 {
		font-size: 1rem;
	}
	h6 {
		font-size: 1rem;
	}
	.cb-slideshow li span {
    	height: 40%;
	}
	.p-tag-reservations,
	.p-tag-about {
		font-size: 1.25rem;
		margin: 7px 0;
		width: 100%;
	}
	.p-tag-contact {
		font-size: 1.25rem;
	}
	.p-tag {
		font-size: 1rem;
	}
	p {
		margin: 7px 0;
		width: 100%;
	}
	.menu,
	.menu-zoom {
		font-size: 1.25rem;
		display: block;
	}
	#lrgParties {
		width: 100%;
	}
	.col-4 {
		padding: 0;
	}
	.logo-img {
		width: 70%;
		padding-top: 10px;
	}
	.logo-div {
		height: 70%;
		line-height: 100px;
	}
	.chow-logo {
		width: 80%;
	}
	/*.cb-slideshow li span {
    	max-height: 500px;
	}*/
	div.dropdown-menu-right {
	margin-right: 24%;
	}
	#countDown {
		padding-top: 0;
	}
	span.village {
		display: none;
	}
	span.phone {
		display: block;
	}
	.cb-slideshow h1 {
	margin-bottom: 25px;
	}
}

@media (max-width: 414px) {
	h1,
	h2 {
		font-size: 1.56rem;
	}
	div.dropdown-menu-right {
	margin-right: 25%;
	}
}
@media (max-width: 320px) {
	div.dropdown-menu-right {
	margin-right: 20%;
	}
	.cb-slideshow li span {
    	max-height: 290px;
	}
	.cb-slideshow h1 {
	margin-bottom: 20px;
	}
	p.w-75 {
		width: 100%!important;
	}
}
